@model AppMVC.Models.Movie

@{
    ViewBag.Title = "Create";
}

<h2>Креирај филм</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Филм</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-2"> Жанр</div>
        <div class="col-md-10">
            @Html.DropDownList("GenreId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenreId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
   <div class="col-md-2">Наслов</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
     <div class="col-md-2">Цена на карта</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PriceForTcket, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PriceForTcket, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
       <div class="col-md-2">URL линк за слика </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ImgUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ImgUrl, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
       <div class="col-md-2">URL линк за Youtube видео</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.YoutubeURL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.YoutubeURL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
   <div class="col-md-2">  Опис на филмот </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
   <div class="col-md-2"> Рејтинг</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
     <div class="col-md-2"> Должина на филм </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Креирај" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад кон листата на филмови", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
