@model AppMVC.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Детали </h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <div class="row">
        <div>  Види го трејлерот </div>
        <br />
        <iframe width="100%"
                height="640"
                src="@Url.Content(Model.YoutubeURL)"
                frameborder="0"
                allowfullscreen></iframe>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="@Url.Content(Model.ImgUrl)" alt="Image" width="200px" height="300px" />
        </div>
        <div class="col-lg-9" style="height:300px">

            <b class="text-info ">Опис</b>   @Html.DisplayFor(model => model.Description)<br />
            <b class="text-info">Рејтинг </b> @Html.DisplayFor(model => model.Rating)<br />
            <b class="text-info">Должина на филм </b>  @Html.DisplayFor(model => model.Duration)  минути<br />
            <b class="text-info">Цена за карта</b>  @Html.DisplayFor(model => model.PriceForTcket) денари<br />
            @if (User.IsInRole("Editor"))
            {
<p>
@Html.ActionLink("Едитирај", "Edit", new { id = Model.MovieId }) |
       </p>}
            @Html.ActionLink("Назад кон листата на филмови", "Index")<br />
            <button style="position:absolute ; bottom:0 ; right:0" class=" btn-link">@Html.ActionLink("Види распоред за филмови", "Index", "Timetables") </button>



        </div>


    </div>
</div>
