@model AppMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрација";
}
<div style="margin-left:30%">
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Креирај нова Корисничка сметка</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })



    <div class="form-group">
       <div class = "col-md-2 control-label">Име и презиме</div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 control-label">Години</div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 control-label">Емаил</div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Лозинка</div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Потврди лозинка</div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Регистација" />
        </div>
    </div>
}
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
